@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
input, button, textarea, select {
  outline: none;
}
a:hover{
  text-decoration: none;
}
a,span {
  display: inline-block;
  text-decoration: none;
}
ul,li{
  margin:0;
  padding:0;
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #575A7B;
  text-transform: inherit;
  line-height: normal;
}

/* share similar style */

.similar-btn a {
  background: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-transform: capitalize;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px 15px;
  transition: .1s;
}
.similar-btn a:hover,.black-bg-color a:hover {
  background-color: #1877F2;
  border: 1px solid #1877F2;
}
.similar-btn a svg {
  width: 18px;
  height: auto;
  margin-right: 8px;
}
.black-bg-color a {
  background-color: #000000;
  color: #FFFFFF;
}
.similar-btn.more-bg-color a {
  background-color: rgba(0, 0, 0, 0.10);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
main.full-wrapper-area {
  display: flex;
  flex-direction: row;
}

/* Start IM Sidebar Area Css  */
.im-sidebar-area {
  background-color: #FFFFFF;
  /* position: absolute; */
  /* width: 260px; */
  /* height: 100%; */
  border-right: 1px dashed #E6EAED;
  padding: 0 0 180px;
  top: 0;
  left: 0;
  z-index: 9;
  flex: 0 0 14%;
  width: 260px;
  position: relative;
  /* height: 100vh; */
}
.im-logo-content {
  padding: 40px 15px;
  text-align: center;
}
.im-logo-content img {
  width: 170px;
  height: auto;
}
.im-sidebar-content {
  padding: 0 15px;
}
.im-sidebar-content ul > li a,.im-aside-logout a {
  font-weight: 500;
  font-size: 17px;
  color: #575A7B;
  text-transform: capitalize;
  line-height: normal;
  padding: 14px 15px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  transition: .1s;
}
.im-sidebar-content ul > li a::before {
  content: '';
  position: absolute;
  background-color: #000000;
  width: 0px;
  height: 100%;
  top: 0;
  left: -15px;
  border-radius: 0px 10px 10px 0px;
  transition: .1s;
}
.im-sidebar-content ul > li a:hover::before,.im-sidebar-content ul > li a.active::before {
  width: 5px;
}
.im-sidebar-content ul > li a:hover,.im-sidebar-content ul > li a.active,.im-aside-logout a:hover {
  background-color: #F2F2F2;
}
.im-sidebar-content ul > li a svg,.im-aside-logout svg {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.im-aside-footer {
  position: absolute;
  bottom: 0;
  z-index: 9;
  width: 100%;
}
.im-profile-content {
  display: flex;
  align-items: center;
  border: 1px solid #E6EAED;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 25px 25px;
}
.im-profile-content img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.im-profile-content p {
  font-weight: 500;
  font-size: 14px;
  color: #101136;
  text-transform: capitalize;
  line-height: normal;
  display: block;
}
.im-profile-content a {
  font-weight: 400;
  font-size: 12px;
  color: #575A7B;
  text-transform: inherit;
  display: block;
  width: 100%;
}
.im-aside-logout {
 position: relative;
}
.im-aside-logout a {
  border-top: 1px solid #E6EAED;
  padding: 25px 35px;
  border-radius: 0;
}

/* End IM Sidebar Area Css  */

/* Start IM Main Area Css  */

.im-main-area {
  background-color: #FFFFFF;
  flex: 0 0 86%;
  width: 100%;
}

/* header css */
header.im-header-area {
  padding: 28px 30px;
  border-bottom: 1px solid #E6EAED;
}
.im-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.im-header-left-page-link a {
  font-weight: 500;
  font-size: 22px;
  color: #101136;
  text-transform: capitalize;
  line-height: normal;
}
.im-header-left-page-link a svg {
  width: 18px;
  height: auto;
  margin-right: 7px;
}

/* alert css */
.im-alert-area {
  margin: 20px 0;
  padding: 0 30px;
}
.im-alert-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #FA3434;
  border-bottom: 1px solid #FA3434;
  background-color: rgba(250, 52, 52, 0.05);
  border-radius: 10px;
}
.im-alert-left-content {
  display: flex;
  align-items: center;
}
.im-alert-icon {
  background-color: #FA3434;
  padding: 12px 15px;
  border-radius: 10px 0 0 10px;
  height: 48px;
}
.im-alert-icon svg {
  width: 18px;
  height: auto;
}
.im-alert-text p {
  font-size: 14px;
  color: #FA3434;
  padding-left: 20px;
}
.im-alert-btn button {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: capitalize;
  line-height: normal;
  background-color: #FA3434;
  padding: 10px 15px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  height: 48px;
}

/* audiences css */
.im-audiences-area {
  margin: 20px 0;
  padding: 0 30px;
}
.im-audiences-content {
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 15px;
}
.im-audiences-head {
  padding: 20px 25px;
}

.im-audiences-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.im-audiences-right-head {
  display: flex;
  align-items: center;
}
.im-audences-left-head-content a {
  font-weight: 600;
  font-size: 15px;
  color: #101136;
  text-transform: capitalize;
  line-height: normal;
}
.im-audences-left-head-content a svg {
  width: 18px;
  height: auto;
  margin-right: 10px;
}
.im-audiences-right-head-search input {
  font-weight: 400;
  font-size: 14px;
  color: #575A7B;
  text-transform: inherit;
  line-height: normal;
  padding: 10px 10px 10px 40px;
  max-width: 230px;
  width: 100%;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  margin-right: 15px;
}
.im-audiences-right-head-search {
  position: relative;
}
.im-audiences-right-head-search label {
  position: absolute;
  left: 15px;
  top: 9px;
}
.im-audiences-right-head-search label svg {
  width: 14px;
  height: auto;
  cursor: pointer;
}
.im-audiences-right-head-dropdown-select {
  position: relative;
}
.im-audiences-right-head-dropdown-select select {
  padding: 10px 45px 10px 40px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  color: #101136;
  border: 1px solid #EBEBEB;
  cursor: pointer;
}
.im-audiences-right-head-dropdown-select svg {
  position: absolute;
  pointer-events: none;
}
.im-audiences-right-head-dropdown-select svg.left-icon {
  width: 15px;
  height: auto;
  left: 15px;
  top: 14px;
}
.im-audiences-right-head-dropdown-select svg.right-icon {
  width: 11px;
  height: auto;
  right: 15px;
  top: 16px;
}
.im-audiences-details-content-heading,.im-single-audiences-details-content-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 30px;
  background: #FAFAFA;
}
.im-audiences-details-content-header-text p {
  font-size: 14px;
  color: #575A7B;
  text-transform: uppercase;
  line-height: normal;
}
.im-audiences-list-header-audience {
  flex: 0 0 30%
}
.im-audiences-list-header-dateuploaded {
  flex: 0 0 20%
}
.im-audiences-list-header-adaccount {
  flex: 0 0 20%
}
.im-audiences-list-header-audiencesize { 
  flex: 0 0 30%
}
.im-single-audiences-details-content-list {
  background-color: #FFFFFF;
  padding: 20px 30px;
  border-bottom: 1px solid #E6EAED;
}
.im-single-audiences-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.im-single-audiences-content.investor {
  flex: 0 0 30%;
}
.im-single-audiences-content.date {
  flex: 0 0 20%;
}
.im-single-audiences-content.group {
  flex: 0 0 20%;
}
.im-single-audiences-content.size {
  flex: 0 0 20%;
}
.im-single-audiences-content.delete {
  flex: 0 0 10%;
}
.im-single-audiences-content p {
  font-weight: 500;
  font-size: 15px;
  color: #101136;
  text-transform: inherit;
  line-height: normal;
  margin: 0 8px;
}
.im-single-audiences-content svg {
  cursor: pointer;
}
.im-single-audiences-investor-help-icon svg {
  width: 19px;
  height: 19px;
}
.im-single-audiences-content.delete button {
  font-weight: 500;
  font-size: 15px;
  color: #FA3434;
  text-transform: capitalize;
  background-color: #FFFFFF;
  border: 1px solid #FA3434;
  padding: 7px 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: .1s;
}
.im-single-audiences-content.delete button:hover {
  background-color: #facece;
  border: 1px solid #575A7B;
}
.im-single-audiences-content.delete button svg {
  margin-right: 10px;
}
.im-single-audiences-content.group li {
  font-weight: 600;
  font-size: 12px;
  background: rgba(33, 208, 61, 0.10);
  color: #21D03D;
  padding: 5px 10px 5px 23px;
  border-radius: 20px;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}
.im-single-audiences-content.group li::before {
  content: "";
  position: absolute;
  background-color: #21D03D;
  width: 8px;
  height: 8px;
  border-radius: 15px;
  left: 10px;
  top: 10px;
}
.im-audiences-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.im-pagination-right-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.im-pagination-right-content ul li a {
  font-weight: 500;
  font-size: 15px;
  color: #575A7B;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .3s;
}
.im-pagination-right-content ul li a:hover,.im-pagination-right-content ul li a.active {
  background-color: #E6EAED;
  color: #101136;
}
.im-pagination-right-content ul li:first-child a {
  margin-right: 10px;
}
.im-pagination-right-content ul li:last-child a {
  margin-left: 10px;
}


/* End IM Main Area Css  */