@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
input, button, textarea, select {
  outline: none;
}
a:hover{
  text-decoration: none;
}
a,span {
  display: inline-block;
  text-decoration: none;
}
ul,li{
  margin:0;
  padding:0;
  list-style: none;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: #575A7B;
  text-transform: inherit;
  line-height: normal;
}

/* share similar style */

.similar-btn a {
    background: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-transform: capitalize;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 14px 15px;
    transition: .1s;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.black-bg-color a:hover {
  background-color: #1877F2;
  border: 1px solid #1877F2;
}
.similar-btn a svg {
  width: 18px;
  height: auto;
  margin-right: 8px;
}
.black-bg-color a {
  background-color: #000000;
  color: #FFFFFF;
}
.more-bg-color a {
  background-color: rgba(0, 0, 0, 0.10);
  border: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
main.full-wrapper-area {
  display: flex;
  flex-direction: row;
}

/* Start IM Sidebar Area Css  */
.im-sidebar-area {
  background-color: #FFFFFF;
  position: absolute;
  width: 260px;
  height: 100%;
  border-right: 1px dashed #E6EAED;
  padding: 0 0 180px;
  top: 0;
  left: 0;
  z-index: 9;
  flex: 0 0 14%;
  /* height: 100vh; */
}
.im-logo-content {
  padding: 40px 15px;
  text-align: center;
}
.im-logo-content img {
  width: 170px;
  height: auto;
}
.im-sidebar-content {
  padding: 0 15px;
}
.im-sidebar-content ul > li a,.im-aside-logout a {
  font-weight: 500;
  font-size: 17px;
  color: #575A7B;
  text-transform: capitalize;
  line-height: normal;
  padding: 14px 15px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  transition: .1s;
}
.im-sidebar-content ul > li a::before {
  content: '';
  position: absolute;
  background-color: #000000;
  width: 0px;
  height: 100%;
  top: 0;
  left: -15px;
  border-radius: 0px 10px 10px 0px;
  transition: .1s;
}
.im-sidebar-content ul > li a:hover::before,.im-sidebar-content ul > li a.active::before {
  width: 5px;
}
.im-sidebar-content ul > li a:hover,.im-sidebar-content ul > li a.active,.im-aside-logout a:hover {
  background-color: #F2F2F2;
}
.im-sidebar-content ul > li a svg,.im-aside-logout svg {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.im-aside-footer {
  position: absolute;
  bottom: 0;
  z-index: 9;
  width: 100%;
}
.im-profile-content {
  display: flex;
  align-items: center;
  border: 1px solid #E6EAED;
  padding: 15px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 25px 25px;
}
.im-profile-content img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.im-profile-content p {
  font-weight: 500;
  font-size: 14px;
  color: #101136;
  text-transform: capitalize;
  line-height: normal;
  display: block;
}
.im-profile-content a {
  font-weight: 400;
  font-size: 12px;
  color: #575A7B;
  text-transform: inherit;
  display: block;
  width: 100%;
}
.im-aside-logout {
 position: relative;
}
.im-aside-logout a {
  border-top: 1px solid #E6EAED;
  padding: 25px 35px;
  border-radius: 0;
}
.im-aside-logout.admin-dashboard a  {
  border-top: none;
}

/* End IM Sidebar Area Css  */

/* Start IM Main Area Css  */
.im-main-area {
  background-color: #FFFFFF;
  flex: 0 0 86%;
  width: 100%;
  margin-left: 260px;
}

/* header css */
header.im-header-area {
  padding: 28px 30px;
  border-bottom: 1px solid #E6EAED;
}
.im-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.im-header-right-btn-link{
  display: flex;
  align-items: center;
}
.im-header-left-page-link a {
  font-weight: 500;
  font-size: 22px;
  color: #101136;
  text-transform: capitalize;
  line-height: normal;
  display: flex;
  align-items: center;
}
.im-header-left-page-link a svg {
  width: 18px;
  height: auto;
  margin-right: 7px;
}

/* alert css */
.im-alert-area {
  margin: 20px 0;
  padding: 0 30px;
}
.im-alert-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #FA3434;
  border-bottom: 1px solid #FA3434;
  background-color: rgba(250, 52, 52, 0.05);
  border-radius: 10px;
}
.im-alert-left-content {
  display: flex;
  align-items: center;
}
.im-alert-icon {
  background-color: #FA3434;
  padding: 12px 15px;
  border-radius: 10px 0 0 10px;
  height: 48px;
}
.im-alert-icon svg {
  width: 18px;
  height: auto;
}
.im-alert-text p {
  font-size: 14px;
  color: #FA3434;
  padding-left: 20px;
}
.im-alert-btn button {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: capitalize;
  line-height: normal;
  background-color: #FA3434;
  padding: 10px 15px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  height: 48px;
}

/* audiences css */
.im-audiences-area {
  margin: 20px 0;
  padding: 0 30px;
}
.im-audiences-content {
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 15px;
}
.im-audiences-head {
  padding: 20px 25px;
}

.im-audiences-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.im-audiences-right-head {
  display: flex;
  align-items: center;
}
.im-audences-left-head-content a {
  font-weight: 600;
  font-size: 15px;
  color: #101136;
  text-transform: capitalize;
  line-height: normal;
}
.im-audences-left-head-content a svg {
  width: 18px;
  height: auto;
  margin-right: 10px;
}
.im-audiences-right-head-search input {
  font-weight: 400;
  font-size: 14px;
  color: #575A7B;
  text-transform: inherit;
  line-height: normal;
  padding: 10px 10px 10px 40px;
  max-width: 230px;
  width: 100%;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  margin-right: 15px;
}
.admin-dashboard .im-audiences-right-head-search input {
  margin-right: 0;
}
.im-audiences-right-head-search {
  position: relative;
}
.im-audiences-right-head-search label {
  position: absolute;
  left: 15px;
  top: 9px;
}
.im-audiences-right-head-search label svg {
  width: 14px;
  height: auto;
  cursor: pointer;
}
.im-audiences-right-head-dropdown-select {
  position: relative;
}
.im-audiences-right-head-dropdown-select select {
  padding: 10px 45px 10px 40px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  color: #101136;
  border: 1px solid #EBEBEB;
  cursor: pointer;
}
.im-audiences-right-head-dropdown-select svg {
  position: absolute;
  pointer-events: none;
}
.im-audiences-right-head-dropdown-select svg.left-icon {
  width: 15px;
  height: auto;
  left: 15px;
  top: 14px;
}
.im-audiences-right-head-dropdown-select svg.right-icon {
  width: 11px;
  height: auto;
  right: 15px;
  top: 16px;
}
.im-audiences-details-content-heading,.im-single-audiences-details-content-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 30px;
  background: #FAFAFA;
}
.im-audiences-details-content-heading p {
  color: #575A7B;
  text-transform: uppercase;
}
.im-audiences-list-header-audience {
  flex: 0 0 30%
}
.im-audiences-list-header-dateuploaded {
  flex: 0 0 20%
}
.im-audiences-list-header-adaccount {
  flex: 0 0 20%
}
.im-audiences-list-header-audiencesize { 
  flex: 0 0 30%
}
.im-single-audiences-details-content-list {
  background-color: #FFFFFF;
  padding: 20px 30px;
  border-bottom: 1px solid #E6EAED;
}
.im-single-audiences-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.im-single-audiences-content.investor {
  flex: 0 0 30%;
}
.im-single-audiences-content.date {
  flex: 0 0 20%;
}
.im-single-audiences-content.group {
  flex: 0 0 20%;
}
.im-single-audiences-content.size {
  flex: 0 0 20%;
}
.im-single-audiences-content.delete {
  flex: 0 0 10%;
}
.im-single-audiences-content p,.im-single-audiences-content a {
  font-weight: 500;
  font-size: 15px;
  color: #101136;
  text-transform: inherit;
  line-height: normal;
  margin: 0 8px;
  transition: .1s;
}
.im-single-audiences-content a:hover {
  color: #0078B8;
}
.im-single-audiences-content svg {
  cursor: pointer;
}
.im-single-audiences-investor-help-icon svg {
  width: 19px;
  height: 19px;
}
.im-single-audiences-content.delete button {
  font-weight: 500;
  font-size: 15px;
  color: #FA3434;
  text-transform: capitalize;
  background-color: #FFFFFF;
  border: 1px solid #FA3434;
  padding: 7px 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: .1s;
}
.im-single-audiences-content.delete button:hover {
  background-color: #facece;
  border: 1px solid #575A7B;
}
.im-single-audiences-content.delete button svg {
  margin-right: 10px;
}
.im-single-audiences-content.group li {
  font-weight: 600;
  font-size: 12px;
  background: rgba(33, 208, 61, 0.10);
  color: #21D03D;
  padding: 5px 10px 5px 23px;
  border-radius: 20px;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}
.im-single-audiences-content.group li::before {
  content: "";
  position: absolute;
  background-color: #21D03D;
  width: 8px;
  height: 8px;
  border-radius: 15px;
  left: 10px;
  top: 10px;
}
.im-audiences-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.im-pagination-right-content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.im-pagination-right-content ul li a {
  font-weight: 500;
  font-size: 15px;
  color: #575A7B;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .3s;
}
.im-pagination-right-content ul li a:hover,.im-pagination-right-content ul li a.active {
  background-color: #E6EAED;
  color: #101136;
}
.im-pagination-right-content ul li:first-child a {
  margin-right: 10px;
}
.im-pagination-right-content ul li:last-child a {
  margin-left: 10px;
}

/* End IM Main Area Css  */

/* Start Admin Dashboard Page Css */
.im-audiences-list-header-audiencename,.im-single-audiences-content.adname {
  flex: 0 0 40%
}
.im-audiences-list-header-datecreated,.im-single-audiences-content.addate {
  flex: 0 0 20%
}
.im-audiences-list-header-adsize,.im-single-audiences-content.adsize {
  flex: 0 0 30%
}
.im-audiences-list-header-adactions,.im-single-audiences-content.adaction { 
  flex: 0 0 10%
}
.im-single-audiences-content.adaction {
  display: flex;
  align-items: center;
}
.im-single-audiences-content.adaction a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
/* End Admin Dashboard Page Css */

/* Start Investor Database Page Css */
.im-header-right-select-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.im-header-right-select-dropdown  .im-audiences-right-head-dropdown-select select {
  padding: 10px 30px 10px 35px;
  margin-left: 20px;
}
.im-header-right-select-dropdown  .im-audiences-right-head-dropdown-select svg.left-icon {
  width: 18px;
  height: auto;
  left: 30px;
  top: 13px;
}
.investor-database-list .im-audiences-details-content-heading {
  padding: 15px 25px;
  border-radius: 10px 10px 0 0;
}
.investor-database-list .im-single-audiences-details-content-list {
  padding: 18px 20px;
}
.im-audiences-list-header-in,.im-audiences-list-header-it,.im-audiences-list-header-ind,.im-audiences-list-header-loc,.im-audiences-list-header-web,.im-audiences-list-header-pho,
.im-single-audiences-content.im_in,.im-single-audiences-content.im_it,.im-single-audiences-content.im_ind,.im-single-audiences-content.im_loc,.im-single-audiences-content.im_web,.im-single-audiences-content.im_pho {
  flex: 0 0 12%;
}
.im-audiences-list-header-ema,.im-audiences-list-header-pla,.im-single-audiences-content.im_ema,.im-single-audiences-content.im_pla {
  flex: 0 0 14%;
}

/* End Investor Database Page Css */

/* Start Integration Page Css */
.im-feedback-integration {
  padding: 130px 0;
}
.im-feedback-integration-content {
  max-width: 330px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.im-feedback-integration-content p {
  font-weight: 500;
  font-size: 16px;
  color: #101136;
  text-transform: inherit;
  line-height: normal;
  margin-top: 50px;
  margin-bottom: 30px;
}
.im-feedback-integration-content a {
  background-color: #1877F2;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  text-transform: inherit;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: .1s;
}
.im-feedback-integration-content a:hover {
  background-color: #000000;
}
.im-feedback-integration-content a svg {
  margin-right: 10px;
}
/* End Integration Page Css */


/* Start Integration Page Css */
.im-ad-accounts-area {
  padding: 25px 30px;
}
.im-ad-accounts-content {
  max-width: 620px;
  width: 100%;
}
.im-ad-accounts-button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.im-ad-accounts-button-content a {
  margin-left: 0;
  margin-right: 20px;
  border: 1px solid transparent;
  padding: 14px 50px;
}
.more-bg-color a:hover {
  background: #1877F2;
}
.im-ad-accounts-select-dropdown {
  position: relative;
}
.im-ad-accounts-select-dropdown select {
  font-weight: 500;
  font-size: 15px;
  color: #101136;
  text-transform: capitalize;
  width: 100%;
  border: 1px solid rgba(145, 158, 171, 0.32);
  border-radius: 8px;
  padding: 14px 40px;
  margin: 30px 0;
  cursor: pointer;
}
.im-ad-accounts-select-dropdown svg.facebook {
  position: absolute;
  top: 49px;
  left: 15px;
  pointer-events: none;
}
.im-ad-accounts-select-dropdown svg.downarrow {
  position: absolute;
  top: 52px;
  right: 15px;
  pointer-events: none;
}
/* End Integration Page Css */

/* Start Audience Page Css */

.im-select-audiences-area {
  padding: 25px 30px;
}
.im-audience-back-btn a {
  font-size: 19px;
  font-weight: 600;
}
.im-audience-back-btn a svg {
  border: 1px solid #E6EAED;
  border-radius: 5px;
  padding: 5px 5px;
  margin-right: 10px;
  width: 26px;
}
.im-select-audiences-items-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-im-select-audiences-item {
  flex: 0 0 23.5%;
  margin: 0 .75%;
}
.single-im-select-audiences-item.active {
  border: 1.5px solid rgb(0, 0, 0);
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.im-select-audiences-items-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}
.single-im-select-audiences-item h3 {
  font-weight: 500;
  font-size: 17px;
  color: #101136;
  text-transform: capitalize;
}
.im-single-audiences-text-content {
  padding: 12px 15px;
}
.single-im-select-audiences-image img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: auto;
  object-fit: cover;
}
.single-im-select-audiences-item {
  flex: 0 0 23.5%;
  margin: 0 .75%;
  border-radius: 10px;
  border: 1px solid #E6EAED;
}
/* .im-select-audiences-items-content .single-im-select-audiences-item:first-child {
  margin-left: 0;
}
.im-select-audiences-items-content .single-im-select-audiences-item:last-child {
  margin-right: 0;
} */
.im-single-audiences-text-content a {
  font-weight: 500;
  font-size: 14px;
  color: #101136;
  text-transform: inherit;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  border: 1px solid #E6EAED;
  padding: 5px 12px;
  border-radius: 5px;
  width: auto;
  margin: 12px 0;
}

.im-single-audiences-text-content a svg {
  margin-right: 8px;
}

.im-single-audiences-btn-content button {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  background: #000000;
  padding: 10px 20px;
  border: none;
  border-top: 1.5px solid #000000;
  border-radius: 0 0 10px 10px;
}
.single-im-select-audiences-item.active .im-single-audiences-btn-content button {
  background-color: #FFFFFF;
  color: #000000;
} 
.im-single-audiences-btn-content button svg {
  margin-right: 10px;
}
.im-single-audiences-platform-links {
  display: flex;
  align-items: center;
}
.im-single-audiences-platform-links a {
  width: 32px;
  height: 32px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
  margin: 0 8px 0 0;
  line-height: 28px;
}
/* End Audience Page Css */

/* Modal Css */

.modal-header-title {
  display: flex;
  align-items: center;
}
.modal-header-title h5 {
  font-weight: 400;
  font-size: 14px;
  color: #101136;
  text-transform: inherit;
  margin-left: 10px;
}
button.btn-close:focus {
  box-shadow: none;
}
.audiences-modal-content {
  padding: 15px 15px 25px;
}
.audiences-modal-content h5 {
  font-weight: 400;
  font-size: 14px;
  color: #575A7B;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.similar-modal-sub-title p {
  font-weight: 400;
  font-size: 15px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #101136;
}
.similar-modal-sub-title p svg {
  margin-right: 10px;
}
.audiences-modal-content .modal-platform-link.similar-btn a {
  margin: 0 5px;
  padding: 8px 12px;
  border-radius: 20px;
}
.audiences-modal-content .im-ad-accounts-button-content {
  justify-content: space-between;
}
.audiences-modal-content  .similar-btn.black-bg-color,.audiences-modal-content .similar-btn.more-bg-color {
  flex: 0 0 48%;
}
.audiences-modal-content .similar-btn.black-bg-color a, .audiences-modal-content .similar-btn.more-bg-color a {
  margin-right: 0;
  text-align: center;
  display: block;
  padding: 14px 30px;
}

.audiences-modal-content .im-header-right-content {
  margin-bottom: 30px;
}
.audiences-modal-content .im-ad-accounts-select-dropdown select {
  margin-top: 0;
  margin-bottom: 20px;
}
.audiences-modal-content .im-ad-accounts-select-dropdown svg.facebook {
  top: 18px;
}
.audiences-modal-content .im-ad-accounts-select-dropdown svg.downarrow {
  top: 24px;
}
.single-build-audience-modal-items {
  margin-bottom: 20px;
  overflow: hidden;
}

.single-build-audience-modal-items label {
  font-weight: 400;
  font-size: 12px;
  color: #575A7B;
  text-transform: capitalize;
  line-height: normal;
  margin-bottom: 8px;
  display: block;
  
}
.single-build-audience-modal-items input[type='file'] {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px dashed #000000;
  padding: 35px 35px;
  cursor: pointer;
}
.single-build-audience-modal-items input,.single-build-audience-modal-items textarea {
  font-weight: 400;
  font-size: 14px;
  color: #575A7B;
  text-transform: capitalize;
  line-height: normal;
  width: 100%;
  resize: none;
  border: 1px solid rgba(145, 158, 171, 0.32);
  padding: 15px 15px;
  border-radius: 10px;
}
.custom-input-image::-webkit-file-upload-button,.custom-input-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-input-image::before,.custom-input-file::before {
  content: 'Upload Image';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  background: #000000;
  padding: 5px 10px;
  border-radius: 25px;
  margin: 0 156px;
}
.custom-input-file::before {
  content: 'Upload File';
  margin-right: 200px;
}